<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/links.ejs') %> 
</head>
<body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <%- include('../components/navbar.ejs') %>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <%- include('../components/sidebar.ejs') %> 
                    
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                             
                                    </div>

                                    <div id="styleSelector">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%- include('../common/scripts.ejs') %> 
</body>
</html>